@{
    ViewData["Title"] = "Домашняя страница ";
}

<div class="row" style="align-content:center">

    <table >
  <tbody>
    <tr>
      <td width = "33%" height = "33%"><img alt="RAM" class="card-img-top embed-responsive-item" src="~/Content/RAMS.jpg"  /></td>
      <td width = "33%" height = "33%"><img alt="Carcass" class="card-img-top embed-responsive-item" src="~/Content/Carcass.jpg" /></td>
      <td width = "33%" height = "33%" valign="middle"> <img alt="Card image cap" class="card-img-top embed-responsive-item" src="~/Content/CPU.jpg" />
    </td>
    </tr>
    <tr>
      <td align="center"><p>Работа с информацией об оперативной памяти </p></td>
      <td align="center"><p>Работа с информацией о корпусах</p></td>
      <td align="center"><p>Работа с информацией о процессоре</p></td>
    </tr>
    <tr>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Rams/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Carcasses/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Cpus/Index">Перейти &raquo;</a></p></td>
    </tr>
    <tr>
      <td width = "33%" height = "33%"><img alt="RAM" class="card-img-top embed-responsive-item" src="~/Content/GPU.jpg"  /></td>
      <td width = "33%" height = "33%"><img alt="Carcass" class="card-img-top embed-responsive-item" src="~/Content/motherboard.jpg" /></td>
      <td width = "33%" height = "33%" valign="middle"> <img alt="Card image cap" class="card-img-top embed-responsive-item" src="~/Content/CPUcool.jpg" />
    </td>
    </tr>
    <tr>
      <td align="center"><p>Работа с информацией о видеокарте </p></td>
      <td align="center"><p>Работа с информацией о материнской плате</p></td>
      <td align="center"><p>Работа с информацией об охлаждение процессора</p></td>
    </tr>
    <tr>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Gpus/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary" href="https://localhost:44362/Motherboards/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Cpucools/Index">Перейти &raquo;</a></p></td>
    </tr>
    <tr>
      <td width = "33%" height = "33%"><img alt="RAM" class="card-img-top embed-responsive-item" src="~/Content/HDD.jpg"  /></td>
      <td width = "33%" height = "33%"><img alt="Carcass" class="card-img-top embed-responsive-item" src="~/Content/SSD.jpg" /></td>
      <td width = "33%" height = "33%" valign="middle"> <img alt="Card image cap" class="card-img-top embed-responsive-item" src="~/Content/PSU.jpg" />
    </td>
    </tr>
    <tr>
      <td align="center"><p>Работа с информацией о жестком диске</p></td>
      <td align="center"><p>Работа с информацией о SSD</p></td>
      <td align="center"><p>Работа с информацией о блоках питания</p></td>
    </tr>
    <tr>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/HDDs/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/SSDs/Index">Перейти &raquo;</a></p></td>
      <td align="center"><p><a class="btn btn-outline-primary" href="https://localhost:44362/PSUs/Index">Перейти &raquo;</a></p></td>
    </tr>
    <tr>
      <td  width = "33%" height = "33%"><img alt="OS" class="card-img-top embed-responsive-item" src="~/Content/OS.jpg" /></td>
      <td></td>
      <td width = "33%" height = "33%"><img alt="OS" class="card-img-top embed-responsive-item" src="~/Content/User.jpg" /></td>
    </tr>
    <tr>
      <td align="center"><p>Работа с информацией об операционной системе</p></td>
      <td ></td>
      <td align="center"><p>Работа с информацией о пользователях</p></td>
    </tr>
    <tr>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/O/Index">Перейти &raquo;</a></p></td>
      <td></td>
      <td align="center"><p><a class="btn btn-outline-primary"  href="https://localhost:44362/Users/Index">Перейти &raquo;</a></p></td>
    </tr>
  </tbody>
</table>
</div>
