@model Practica_new.Models.Gpu

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gpu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdGpu" />
            <div class="form-group">
                <label asp-for="NameGpu" class="control-label"></label>
                <input asp-for="NameGpu" class="form-control" />
                <span asp-validation-for="NameGpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GraphicsProc" class="control-label"></label>
                <input asp-for="GraphicsProc" class="form-control" />
                <span asp-validation-for="GraphicsProc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountMemory" class="control-label"></label>
                <input asp-for="AmountMemory" class="form-control" />
                <span asp-validation-for="AmountMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeMemory" class="control-label"></label>
                <input asp-for="TypeMemory" class="form-control" />
                <span asp-validation-for="TypeMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnergyConsumptionGpu" class="control-label"></label>
                <input asp-for="EnergyConsumptionGpu" class="form-control" />
                <span asp-validation-for="EnergyConsumptionGpu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
// переопределение валидации на стороне клиента
$.validator.methods.range = function (value, element, param) {
var globalizedValue = value.replace(",", ".");
return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
}

$.validator.methods.number = function (value, element) {
return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
}
</script>
}
